:root{
  --main-color:#EAE8FE;
}

body{
  background: var(--main-color);
}

.wrapper{
  width:759px;
  margin:300px auto;
  display:flex;
  gap:18px;
  justify-content: center;
}

h1{
  width:436px;
  height:204px;
  background: url(img/colacola.svg) no-repeat 100% 100% / cover;
  display: block;
  margin:auto;
  position: absolute;
  top:0px;
  text-indent: -9999px;
}

.vending-machine{
  width:360px;
  /* margin:auto; */
  text-align: center;
  /* box-shadow: 0px 0px 0px 0.5px rgb(25 0, 61, 209); */
  /* padding:31px 27px 28px 27px; */
  background:#fff;
  flex-grow:1;
}

.user-data{
  width:360px;
  /* box-shadow: 0px 0px 0px 0.5px rgb(250, 61, 209); */
  box-sizing: border-box;
  /* padding:31px 27px 28px 27px; */
  flex-grow:1;
}

.a11y-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }

.select{
  display:grid;
  /* grid-template-areas: 
  "select-a select-b select-c"
  "select-d select-e select-f"; */
  grid-template-columns: repeat(3,minmax(94px,auto));
  /* 위아래 둘다 가능 */
  /* box-shadow: 0px 0px 0px 0.5px rgb(250, 61, 209); */
  margin:31px 27px 20px;
  /* padding을 .vending-machined에 줘도됨 */
  /* grid-auto-columns:minmax(94px,auto);
  grid-auto-rows:minmax(130px,auto); */
  gap:12px;
}

.select-a,
.select-e{
  border:3px solid #6327FE;
}

[class^="select-"]{
  box-shadow: 0 0 3px 0px gray;
  border-radius: 10px;
}

button{
  border: none;
  background: none;
  padding:11px;
  cursor: pointer;
}

button img{
  width:36px;
  height:65px;
  margin-bottom:6px;
}

button p{
  margin-bottom:7px;
  font-size: 9px;
}

button span{
  background: #6327FE;
  color:white;
  width:70px;
  height:22px;
  display: inline-block;
  border-radius: 30px;
  font-size: 12px;
  padding-top:2px;
  box-sizing:border-box;
}


.pay{
  display: grid;
  grid-template-areas: 
  "balance balance-return"
  "deposit-amount deposit"
  "cart-list gain";
  /* box-shadow: 0px 0px 0px 0.5px rgb(250, 61, 209);
  gap:12px; */
  grid-template-columns: 2fr 1fr;
  margin:31px 27px 28px;
  gap:11px;
}

.balance{
  /* box-shadow: 0px 0px 0px 0.5px rgb(250, 61, 209); */
  background: #eae8fe;
  border-radius: 7px;
  height:33px;
  padding-left:10px;
  padding-right:10px;
}

.balance-text{
  float:left;
  padding-top:5px;
}
.balance-money{
  float:right;
  padding-top:5px;
}

.btn{
  box-shadow: 0 0 3px 0px gray;
  border-radius: 7px;
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif; 
  padding:0px;
}

.deposit-amount{
  border-radius: 7px;
  border: 1px solid rgb(212, 210, 210);
  height:33px;
  padding-left:10px;
  font-family: 'Noto Sans KR', sans-serif;
}

.deposit-amount::placeholder{
  text-align:right;
}

.cart-list{
  overflow: scroll;
  height:105px;
  background: var(--main-color);
  border: 1px solid rgb(207, 207, 207);
  border-radius: 7px;
  padding:0px;
}

.cart-list::-webkit-scrollbar{
  width:4px;
}
.cart-list::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  width:4px;
  height:70%;
  border-radius: 10px;
} 

.gain{
  background: #6327fe;
  height:106px;
  color: white;
  font-family: 'Noto Sans KR', sans-serif;
  border-radius: 7px;
  box-shadow: 0 0 3px 0px gray;
}


.cart-list ul{
  padding:12px;
  margin:0px;
}
.cart-list li{
  background: #fff;
  border-radius: 7px;
  height:46px;
}

.cart-list li{
  margin-bottom:6px;
}

.cart-list img{
  width: 18px;
  height:33px;
  float:left;
  margin-top:7px;
  margin-left:10px;
}

.cart-list p{
  float:left;
  font-size:9px;
  margin-left:10px;
  margin-top:13px;

}

.cart-list span{
  float:right;
  border:1px solid #BDBDBD;
  border-radius: 5px;
  width:30px;
  height:30px;
  margin: 8px; 
  text-align: center;
  line-height: 27px;
}
.cart-list::after{
  content: '';
  display:block;
  clear:both;
}

.wrap-ready-money{
  background: #fff;
  width:100%;
  height:50px;
  padding-top:2.5px;
  margin:0 27px 27px 0;

}

.ready-money{
  background: var(--main-color);
  width:306px;
  height:32px;
  border-radius: 7px;
  font-size: 14px;
  margin:10px auto;
}

.ready-money-text{
  float:left;
  margin-left:10px;
  margin-top:5px;
}

.ready-money-num{
  float:right;
  margin-right:10px;
  margin-top:5px;
  font-weight: 700;
}

.ready-money::after{
  content: '';
  display:block;
  clear:both;
}

.wrap-user-basket{
  background: #ffffff;
  width:100%;
  height:86%;
  padding-top:1px;
  margin-top:20px;
  position: relative;
}

.user-basket{
  width:306px;
  margin:70px auto;
  height: 70%;
}

.user-basket-ul{
  height:100%;
  overflow-y: scroll;
}

.user-basket-ul::-webkit-scrollbar{
  width:4px;
}
.user-basket-ul::-webkit-scrollbar-thumb {
  background-color: #e19393;
  width:4px;
  height:60%;
  border-radius: 10px;
} 


.user-basket li{
  width:100%;
}

.user-drink{
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  left: 50%;
  top:5%;
  transform: translate(-50%,5%);
}

.user-total{
  font-size: 12px;
  text-align: right;
  position: absolute;
  right:35px;
  bottom:55px;
}

@media (max-width:768px) {
  .wrapper{
    display:flex;
    width:360px;
    flex-wrap:wrap;
    gap:0;
    margin-top:300px;
    height:1000px;
  }
  .user-data{
    height:545px;
  }
  .wrap-ready-money{
    margin:0;
  }
  .wrap-user-basket{
    margin-top:0px;
  }
  .user-total{
    bottom:45px;
  }
}